@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500&display=swap');
body {
  margin: 0;
 
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #4a148c;
}
.navLink{
  text-decoration: none;
  color: white;
  font-size: 20px;
  width:100%;
}
.sifre{
  position:relative;
  
  display:flex;
  justify-content:flex-end;
  align-items:center;
 
}
.span{
  position:absolute;
  margin-right:10px;
  margin-top:15px;
  cursor:pointer;
  z-index:20;
  color:#2AA5E7;
}




.link{
  text-decoration: none;
  color: white;
  font-size: 16px;
  transition: .333s all ease;
  display:inline;
  width:100%;
 
}


.link:hover{
 color: aqua;
}



.cardLink{
  text-decoration: none;
  color: white;
  display: inline-block;
  margin: 5px;
  font-weight: bold;
 
}
.cardLink :hover{
 color: aqua;
  
 }




.edit-enter {
  opacity: 0;
  transform: scale(-0.5, 1);
}
.edit-enter-active {
  opacity: 1;
  transform: scale(1);
  transition: transform 300ms;
}


.edit-exit {
  opacity: 1;
  
  transform: translate(0px, 0px);

}
.edit-exit-active {
  opacity: 0;
 
  transform: translate(00px, -100px);
  transition:  all 400ms;

}
.cardAnime{
  animation-name: example;
  animation-duration: 1s;
 
 
}



@keyframes example {
  from { transform: scale(0) }
  to {transform: scale(1) }
}